
.titulo-contacto {
    width: 100%;
    text-align: center !important;
    display: block;
    margin: 40px auto;
}

/*

Café Tostado:
#3E2723

Ámbar Cálido:
#FFB300

Verde Hoja:
#2E7D32

Crema Espuma: #FFF8E1
- Buen color para usar de fondo
- El calmo, y permite al usuario descansar la vista

*/

h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

p{}

ul{}
ol{}

nav{}
footer{}


a{}
img{}
button{}
form{}


