/* CONFIGURACIÓN GENERAL */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(122, 102, 102, 0.45)
        ),
        url("../img/background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}


/* HEADER */

header {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}


header h1 {
    margin: 0;
}


/* MENÚ */

nav {
    text-align: center;
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: #7CFC00;
}


/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer div {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}


/* CONTACTO */

.titulo-contacto {
    text-align: center;
}

.formulario-contacto {
    width: 90%;
    max-width: 500px;
    margin: 30px auto 120px;
}

.formulario-contacto div {
    margin-bottom: 15px;
}

.formulario-contacto label {
    display: block;
    margin-bottom: 5px;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.formulario-contacto button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
}